# k6 results
*.json
*.csv
*.html
/results/

# node deps 
node_modules/
package-lock.json

# docker volumes
grafana-data/
influxdb-data/
data/

# env/config local
.env
.env.local
docker-compose.override.yml

# logs
*.log

#backup
backup/

#arquivos de acionamento
*.txt